<div class="article first">

  <a target="_blank" href="/blog/articles/<%= @article.slug %>">
    Preview article.
    <br/>
    <img src="<%= @article.image_url %>" alt="<%= @article.title %>" width="400px;">
  </a>

</div>